<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Matricula 2025</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let Matricula of matriculas">
      <ion-label>
        <h2>{{ matricula.turma.nome}}</h2>

        <p>
          Código: {{ matricula.turma.discplina.codigo }} - Turma: {{
          matricula.turma.discplina.nome }}
        </p>

        <div *ngFor="let horario of matricula.horarios" class="horario-info">
          <p>
            {{ matricula.horario.dia }}: {{ matricula.horario.horaInicio }} - {{
            matricula.horario.horaFim }}
          </p>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
